# Dependencies
node_modules

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Build tools specific
npm-debug.log
yarn-error.log

# Platform specific
.DS_Store

# Misc
.docker/volumes

# IntelliJ IDEA
.idea/
